body {
  margin: 0;
  padding: 0;
}

/* Input Section */
/* 
#main {
  width: 100%;
  height: 300px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#btn {
  padding: 8px 15px;
  background-color: rgb(21, 126, 60);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#btn:hover {
  background-color: rgb(37, 66, 114);
}

.img {
  height: 300px;
  width: 300px;
}

input {
  display: block;
  border: none;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  padding: 5px;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Cards Section */

/* #card {
  border: 2px solid #ffffff;
  background-color: rgba(0, 0, 0, 0.2);
  height: 300px;
  width: 200px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
} */
/* 
#card img {
    padding-top: 10px;
  height: 150px;
  width: 150px;
  object-fit: cover;
 
  border-radius: 50%;
}

#card .name,
.age,
.email,
.para {
  color: rgb(245, 244, 244);
  margin: 0px;
  width: 80%;
  font-weight: 700;
  font-size: 13px;
  padding: 1px;
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}
.name {
  font-size: 14px;
}

#box {
  padding: 10px;
  height: 100%;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
#boxChild {
  height: 100px;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  flex-direction: start;
  justify-content: flex-start;
  align-items: center;
} 
.move{
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}
body{
  overflow: hidden;
} */

/* events object */

/* .abcd{
  height: 100px;
  width: 100px;
  background-color: red;
}   */
/* 
#main {
  height: 100vh;
  width: 100%;
  background-color: black;
}
#nav {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #444;
}
a {
  color: white;
}

button {
  padding: 12px 22px;
  background-color: red;
  color: white;
  border-radius: 5px;
  border: none;
}
/* Event bubbling................. */

/* .lt {
  text-decoration: line-through;
}

/* Event capturing............... */

/* .a {
  height: 93.6vw;
  background-color: rgb(92, 46, 25);
}
.b {
  height: 80%;
  width: 80%;
  background-color: rgb(37, 56, 12);
}
.c {
  height: 80%;
  width: 80%;
  background-color: brown;
  border: #444 solid 2px;
}

.c {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
} */

/* div {
  height: 50%;
  width: 50%;
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.btn{
  width: 50%;
  margin-bottom: 100px;
} */
